[submodule "libs/aarch64-crc"]
	path = libs/aarch64-crc
	url = https://github.com/yangshunyong/aarch64-crc
[submodule "cipher"]
	path = cipher
	url = https://github.com/yangshunyong/Caesar-cipher.git
